messenger_base_url=http://localhost:3000/messenger
notifications_base_url=http://localhost:3000/notifications
projects_base_url=http://localhost:3000/projects
storage_base_url=http://localhost:3000/storage
users_base_url=http://localhost:3000/users
oauth2_habr_callback_url=http://localhost:3000/users/api/rest/auth/oauth2/habr/callback
oleg_email=sapphire1user@gmail.com
oleg_email_password=<any_password>
matvey_email=sapphire2user@gmail.com
matvey_email_password=<any_password>
jwt_access_token_private_key="-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDf6p+1rxqSbg7T
YcEo4Ov7OVlWzYm1Oj27uYkPXe7A8MujnlCGlPyXuCWyk4dFSTrdRQxINqo1di3l
KHGbDTD4WzNk2Gq5BGYinU9LAFcZaWxuK5E9DlG96Yjyj1LnQuGfA+jEEt6/PDG8
sfcKV2q6V/yfmrXTNyi5PDpxm1NjFsm3U0jNHxgIK9gCLlP02l/8DtCtwlj5BSOt
hRWMNzVNf6yvgtFiD1Fz0W+FR75M+1/eMnjujR8tLBcfmge8/wSifuJ8bjlXXplE
aWMRdbzMN1l3pLrGWyMmo1+3U0aIuSRi0wofUlvvF/QgKRgcYN8rUqouvOSoqY4X
+eHmGm/tAgMBAAECggEAEqgVY4lx8NZrtNAVzIalEtsN5w4cFbYDE8ObOGUOshO+
G+VidzwtqaSFu5HQOQUneu04X0Hyv56Xp1rN0GnydRcAOrxPdBf6PJMX2rtuBmeC
ydEmekxZojW1m+Q2N5+adenY+JFL7uogiMTZPQrYkSsomNHGqZEUew6aHgIfmgdR
kEl1aXVksapxvXuUFuKMLV0crUmLMfngKjiRVZ2dZN4flEt51MKfZMHFrxYgQg70
JslalN4pR05ZW7cT0U+zB43dB+2xVv/cjFfhPC8n1Y7NsPSl+Nvz3pwNCDb51pIC
AzYQbrEGBhD7WYh4Pcfakzp8Ss0OnRRUtwB+F1nu/wKBgQD++8xoqLky+z7RoS0n
89bWpJMA8Eh+gsDZrVoEWSM3QZm6NNT1uIGifWK/LrSpkRtMNL/2WHLtPrH6mRDV
D4PIj0dyGhQJIdYjoMP02hkoBqqbBvN96hVkqu+z8uGMc57dgCArHL/mvmqR7l9V
hIFVUvfQ+PTWYAtXhApRfXnZDwKBgQDgzx9ftl/u/Jq6Suh8LJWYTSHvve85Qbti
9fvgsPuE+WED7FeiyH9yj4St6C0MnVhX1zo7+K8h/j8yQJ09ETjtZRnsNa/CVO9F
FUq7u58PJcTZpKUxQbqcTZ7TQMx8/ik6eZXYJzxrPzXiiJ9RpHTjaN3EE4SGq66/
sUw46RVPQwKBgClBvLVCd5TUKjnpBlFsltpsDo0cU96EcYfHEMWbVqNeLe1/FuYb
UH5mI1Aj0n+NRwlxj43gidfxSQLvOVYACKau6DSCG7POkcN6A7refyuGyJwE5+j7
szJypg5LwkrjelUEoi/XmwVO0heCplJD+lk/73EUlykIqU0jxDejQc/pAoGBANvQ
ilvbBoi2xFAdyJ8KNSfbW7CApjX1GNXVsfhs9TJ7aSod4T7RDxUkUdZ96/amr2gM
ketr6UqywHZRia3ZdjFhpuw5PmclB2QkQpO4C/oSsx0giUnVfDMzDnZ/qLMbDZMY
qbTWAJTZFMYxUp7Q0F4//n+nmfDYVCEpql8HQYfjAoGBALI22w7ElulyaCK3vVb6
9M/gcbv8EGiMni2GDzGBEGTml8Z96aTfloqY/qbeO+GbrSFQfnF7FdqnBhwHYSXB
ixflfxwDP/6ekoJI2unCioiimu3ThnVzGNIFbKsdfAEedEocZlYkssDyQP6TgBqC
lUvD9FM5xR/Ec6L7MB+kJ1Op
-----END PRIVATE KEY-----"
jwt_access_token_public_key=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDf6p+1rxqSbg7TYcEo4Ov7OVlWzYm1Oj27uYkPXe7A8MujnlCGlPyXuCWyk4dFSTrdRQxINqo1di3lKHGbDTD4WzNk2Gq5BGYinU9LAFcZaWxuK5E9DlG96Yjyj1LnQuGfA+jEEt6/PDG8sfcKV2q6V/yfmrXTNyi5PDpxm1NjFsm3U0jNHxgIK9gCLlP02l/8DtCtwlj5BSOthRWMNzVNf6yvgtFiD1Fz0W+FR75M+1/eMnjujR8tLBcfmge8/wSifuJ8bjlXXplEaWMRdbzMN1l3pLrGWyMmo1+3U0aIuSRi0wofUlvvF/QgKRgcYN8rUqouvOSoqY4X+eHmGm/t
jwt_refresh_token_private_key="-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDscAs4CWwHC7Pe
yaPncMd16nacqene27pkGp8rKeSOzYKzGtjW+kiygvEZdVCeU+FfgXeu5pIEy65S
E76wWyAlxc2G60P6okXvjYJM8R3gk4zPTICBWkeVRmaqHD8asxv1wXAlgTfLg3hU
WwWTeAXCvuULcCFmvRq0WKErbES9P2xuoV8CW4+zn7qF9KXWPTUuGdzX155MO8Y1
WroH8QLEGYw/i3UYDNjigOkUAhoju3Tqn9NCRY25gntaxs1MmIab1Ourjnz8PZ8H
q6FqUf1GWhr5cviy4SeFER6/l+gXQRuqIJOsBIc4J8Yy6VeRDN1qcs+JmM0C2Ely
CKCsQEnzAgMBAAECggEAHavn9IXWLUIuNgDHFXXlSip87SczptibWRGwNOoCeVtY
EiMF4GCze9eL6z56OgxbxbEJNIVSANEQ1NMOhLJC5AqhQtPGia8QqMHw/rfpoHPT
4XX/0HvkbNrTani2AKNGmH5IlSRUvLEIikmL9xhCXNC5DMjrICoOLmDLBRiGvdr4
f98ETuoL5zGuAtnLJZrqAFHiBKIorm2j6TKDo3u5XJw+gbdfdJLJMJ68+NVHLGIJ
wp0pApPc4+q2prXvw6fAxrz4+Awh1cth9A19NXcBUDqcPmov6XR1J2OJxv72ht+b
LxLDIAaj3m/zA8tQfthUsYcmPFadKOM7Niq3PxMsXQKBgQD3UqcA+8ahekl1KxFX
AezPJcoXvatxjoG+sIjQ2+Nvk2/ywGiv8o3KKr4TvUmZZDJjefLe8t6qa2mUFw65
pT5ffv3jVJjM8hhf8JQ+afd+4MFnY5+KddmClVIX0XNqu8JStbAmBP7g6gygmZGI
MuxbkA8vTzLBFTEjLZ+uDE4o9QKBgQD0u6AYRfm1VTFRPpGhzNt77DU9V+wLWu/K
NGQx6jGP4VlOHARmne7PHRx5j1z5p3PV2/ieeK37W26HwVPNsauJAXzSTa5NetUO
jOgw16obUFrilePq4U3YxFWUsePC6ijTy/3wV/vNJglMHEgw6cgPX8lmwN6tbZ4O
tScGRap2RwKBgEqoKX9zgR8ncdsrl/1iuGBDcQC/oWwS73lngrVBWyNIJ0fo6vEJ
z+FSC7SbtAbYpxk+K6E/QRXCfMlWOHyzs+NRy0P/OmzLO65iSe2ZQTuMjvUtrnA2
aOUxO+mysRtr+BnNfJHNej7ch9lG4hZyAMUW9G58gr6kLgQHdqcsUb+tAoGAXIBq
c6JHTu3DdUTkALcQopdWTDhmRKh7h/8je+ZcE1kGy0o1s5+wOuJy99NjPg2377Z0
E1nj0OTvMyq0hUPJZUCFsGuiHTD3RMenn4Z0ilxl7czf19CO/wa+njRatTqScfNh
qS1oRFNDIlxyQOKsNntrAYaW5BBRtJduB6XfV1MCgYEAo65fpLFwD2/Forszb9ZJ
cfnj/pOB5jPGkCqpmcntxhBzNwDx9gqmkGgiCFwbOilvM550AKET4hNZ7vUM0fCy
fuSFCsRSMvL+rgGR0ZMwobCN9YvYFYLqyTX7aJZODXPjmVQzv8HhDZ8tpxLdl8hO
IvB0E1DEEY2Dtyjs7laBP7A=
-----END PRIVATE KEY-----"
jwt_refresh_token_public_key=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDscAs4CWwHC7PeyaPncMd16nacqene27pkGp8rKeSOzYKzGtjW+kiygvEZdVCeU+FfgXeu5pIEy65SE76wWyAlxc2G60P6okXvjYJM8R3gk4zPTICBWkeVRmaqHD8asxv1wXAlgTfLg3hUWwWTeAXCvuULcCFmvRq0WKErbES9P2xuoV8CW4+zn7qF9KXWPTUuGdzX155MO8Y1WroH8QLEGYw/i3UYDNjigOkUAhoju3Tqn9NCRY25gntaxs1MmIab1Ourjnz8PZ8Hq6FqUf1GWhr5cviy4SeFER6/l+gXQRuqIJOsBIc4J8Yy6VeRDN1qcs+JmM0C2ElyCKCsQEnz
